.footer {
    background-color: rgb(54, 98, 155);
    color: white;
    padding: 10px;
}

.general-name {
    float: left;
    font-size: 20px;
    cursor: pointer;
}

.user-name {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
}

.menu {
    float: left;
    width: 20%;
    background-color: #ffffff;
    border-right: 2px solid #999999;
    height: calc(100vh - 30px);
}
  
.buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.exit-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    border-top: 2px solid #999999;
    border-bottom: 0;
}