html {
    overflow: hidden;
}

button {
    border-radius: 0%;
    border: 0;
    height: 50px;
    cursor: pointer;
    border-bottom: 2px solid #000000;
}

button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

li.sprinkler-dropdown-data {
    cursor: pointer;
    margin: 5px;
}

li.sprinkler-dropdown-data:hover {
    background-color: rgba(172, 172, 172, 0.253);
}

.watering-system {
    height: 120px;
    background-color: #204d28d1;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.name {
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    width: -webkit-fill-available;
}

.switches {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.status-sprinkler, .status-auto-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.refresh-icon {
    color: #ffffff;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 20px;
    color: #ac3e3e;
    font-size: 25px;
    cursor: pointer;
}

.notifications-box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-height: calc(100vh - 40px);
}

.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 25%);
}
  
.notification:hover {
    background: red;
}
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.messages {
    position: fixed;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    width: 45%;
    right: 20px;
    border: 2px solid #000000;
    padding: 10px;
    background-color: #fffffffb;
    max-height: 50%;
    overflow-y: auto;
    border-radius: 5px;
}

.messages-white-box {
    background-color: #e5e5e5;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.buttons-messages {
    display: flex;
    flex-direction: row-reverse;
}

.all-read-button, .all-delete-button {
    margin-left: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 40px;
    background-color: #ff7d7dd1;
    border-radius: 5px;
}

.all-read-button {
    background-color: #f2fff4ba;
}

.add-new-sprinkler-button {
    width: 40%;
    height: 40px;
    background-color: #dddad43d;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 25%);
    border-radius: 5px;
}

.add-new-sprinkler-box {
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.general {
    overflow-y: auto;
    position: absolute;
    right: 0;
    width: 80%;
    height: -webkit-fill-available;
}

.read-message {
    width: 100px;
    border: 1px solid #000000;
    margin: 10px;
    height: 30px;
    box-shadow: 0px 5px 8px rgb(0 0 0 / 25%);
    background-color: #f2fff4ba;
    border-radius: 5px;
}

h3.weather-name, h3.sprinkler-name {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #23472a;
}

.weather-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.weather-card {
    border: 2px solid #8d8d8d;
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.weather-p {
    margin: 2px;
    font-size: 16px;
}

.weather-p-data {
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
}

.weather-data-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}